<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Perform random acts of kindness in honor of Austin.">
	<meta name="keywords" content="Austin,Hicks,Austin Hicks,kindness,kindness project,acts of kindness,random acts of kindness,memorial,in memory of,child,DVLC,Desert View, Desert View Learning Center">
	<title>About Austin - Austin's Kindness Project</title>
	<link rel="stylesheet" type="text/css" href="css/theme.css"> 
</head>
<body>
	<div class="main-header">
		<h1 class="main-header__title">Honoring Austin</h1>
		<div class="nav">
			<ul class="nav__list">
				<li class="nav__list__item"><a href="/">Home</a></li>
				<li class="nav__list__item"><a href="/stories">Stories</a></li>
				<li class="nav__list__item"><a href="/share">Share Your Story</a></li>
				<li class="nav__list__item is-selected"><a href="/about">About Austin</a></li>
			</ul>
		</div>
	</div>
	<div class="main-body">
		<h2 class="main-body__title">About Austin</h2>
		<p class="main-body__text">
			Austin was a senior at Chaparral High School in Scottsdale, Arizona where he was known for his outgoing personality, loud Hawaiian shirts and Panama hats.
			Austin loved animals, was active in Boy Scouts and was a gymnastics instructor.
			His circle of friends was large and he will be truly missed.
		</p>
		<p class="main-body__text">
			We invite you to visit Austin's Eagle Scout project sundial at:
			<span class="address">
				<span class="address__line">The Audubon Center</span>
				<span class="address__line">313 S. Central Ave.</span>
				<span class="address__line">Phoenix, AZ 85040</span>
			</span>
		</p>
		<p class="main-body__text">
			Contributons may be made to the Austin Hicks Scholarship Fund at <a href="http://www.pinnaclebankaz.com">www.pinnaclebankaz.com</a> or mailed to:
			<span class="address">
				<span class="address__line">Pinnacle Bank</span>
				<span class="address__line">14287 N. 87th St., Suite 123</span>
				<span class="address__line">Scottsdale, AZ 85260</span>
				<span class="address__line">(480) 609-0055</span>
			</span>
		</p>
	</div>
</body>
</html>