<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Perform random acts of kindness in honor of Austin.">
	<meta name="keywords" content="Austins KindnessProject,Austin,Hicks,Austin Hicks,kindness,kindness project,acts of kindness,random acts of kindness,memorial,in memory of,child,DVLC,Desert View, Desert View Learning Center">
	<title>Austin's Kindness Project</title>
	<link rel="stylesheet" type="text/css" href="css/theme.css"> 
</head>
<body>
	<div class="main-header">
		<h1 class="main-header__title">Honoring Austin</h1>
		<div class="nav">
			<ul class="nav__list">
				<li class="nav__list__item is-selected"><a href="/">Home</a></li>
				<li class="nav__list__item"><a href="/stories">Stories</a></li>
				<li class="nav__list__item"><a href="/share">Share Your Story</a></li>
				<li class="nav__list__item"><a href="/about">About Austin</a></li>
			</ul>
		</div>
	</div>
	<div class="main-body">
		<h2 class="main-body__title">Random Acts of Kindness</h2>
		<p class="main-body__text">
			You can honor Austin by performing random acts of kindness in his memory, so that his presence remains and he continues to touch the lives of many, as he did while he was with us.
		</p>
		<p class="main-body__text">
			The idea is to perform random acts of, usually anonymous, acts of kindness in your community. A little card is left behind so that the person who benefits from the kindness knows that someone's life and death continues to matter.
		</p>
		<p class="main-body__text">
			You can print cards by clicking on this card picture below. You will see the a page full of cards in your browser, and then you can click Print.
			<a href="cards.html"><img class="card-thumbnail" src="#" alt="In Memory Of card" /></a>
		</p>
		<p class="main-body__text">
			To read stories about random acts of kindness that people have performed or received, click <a href="/stories">Stories</a>.
		</p>
		<p class="main-body__text">
			To share your story, click <a href="/share">Share Your Story</a>.
		</p>
		<p class="main-body__text">
			To learn more about Austin, click <a href="/about">About Austin</a>.
		</p>
	</div>
	<script src="js/jquery-2.1.3.min.js"></script>
</body>
</html>