<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Perform random acts of kindness in honor of Austin.">
	<meta name="keywords" content="Austin,Hicks,Austin Hicks,kindness,kindness project,acts of kindness,random acts of kindness,memorial,in memory of,child,DVLC,Desert View, Desert View Learning Center">
	<title>Stories - Austin's Kindness Project</title>
	<link rel="stylesheet" type="text/css" href="css/theme.css"> 
</head>
<body>
	<div class="main-header">
		<h1 class="main-header__title">Honoring Austin</h1>
		<div class="nav">
			<ul class="nav__list">
				<li class="nav__list__item"><a href="/">Home</a></li>
				<li class="nav__list__item is-selected"><a href="/stories">Stories</a></li>
				<li class="nav__list__item"><a href="/share">Share Your Story</a></li>
				<li class="nav__list__item"><a href="/about">About Austin</a></li>
			</ul>
		</div>
	</div>
	<div class="main-body">
		<h2 class="main-body__title">Stories of Random Acts of Kindness</h2>
		<p class="main-body__text">
			On this page, you can read stories about random acts of kindness that people have either performed or received in Austin's memory.
		</p>
		<p class="main-body__text">
			To share your story, click <a href="/share">Share Your Story</a>.
		</p>
		<div class="stories js-has-status is-status-wait">
			<div class="stories__wait">
				<h3 class="stories__wait__title">Loading stories</h3>
				<p class="stories__wait__body">Please wait...</p>
			</div>
			<div class="stories__error">
				<h3 class="stories__error__title">Unable to load stories</h3>
				<p class="stories__error__body">There was a problem loading the stories. It may be a problem with the web server or with your internet connection.
				If you'd like to try again, please <a href="javascript:void(0)"
					onclick="document.location.reload(true)">Refresh</a> this page.
				</p>
			</div>
			<div class="stories__empty">
			</div>
			<div class="stories__success js-has-stories">
			</div>
		</div>
	</div>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/stories.js"></script>
</body>
</html>